@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

blockquote table{
	border-spacing: 2em;
	font-variant: small-caps;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

blockquote [epub|type~="z3998:verse"]{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="z3998:verse"] p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

img{
	display: block;
	max-height: 3em;
}

img:last-of-type{
	display: block;
	margin: auto;
	max-height: 8em;
}

#chapter-3 blockquote:nth-of-type(2) p:first-of-type{
	text-align: center;
}

#chapter-4 blockquote:nth-of-type(-n+2) p:first-of-type{
	text-align: center;
}
