@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}
/* End of letters */

figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

/* side-by-side text in chapter 5 */
#chapter-5 > div{
	text-align: center;
}

#chapter-5 > div blockquote{
	display: inline-block;
	font-variant: small-caps;
}

#chapter-5 img{
	display: block;
	max-height: 3em;
}
/* End of side-by-side text in chapter 5 */

/* Incantation "verses" */
[epub|type~="z3998:verse"] p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}
/* End of Incatation "verses" */

/* Handwritten note in chapter 5 */
#illustration-3 img{
	max-height: 8em;
}
/* End of handwritten note in chapter 5 */

/* Newspaper articles */
.newspaper header{
	font-variant: small-caps;
}
/* End of newspaper articles */

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
